body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Roboto Mono', monospace;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner"
        "main"
        "footer";
        grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    /* border-radius: 10px; */
    background-color: #ddd;
}

/* Area colouring... */

/* logo, banner and footer background are the same */
.banner, .footer {
    background-color: #888;  /* dark grey */
}

/* Set font on dark areas to white */
.banner, .side, .footer {
    color: #fff;
}

/* Area specifics */

.banner {
    grid-area: banner;
    background-color: #6d3434; /* Burgundy */
}


.main {
    grid-area: main;
    background-color: #EEE;  /* very pale grey */
    border: solid 10px #CCC;
}


.footer {
    grid-area: footer;
    text-align: right;
    background-color: #6d3434;
}

/* -000- End of area styling -000- */

h1{
    font-family: 'Fira Code', monospace;
    font-size: 250%;
}

h2{
    font-family: 'Fira Code', monospace;
    font-size: 150%;
}


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


.img-circle {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8); 
    border: solid 5px #000;    
}

.center_image {
    text-align: center;
}




















